.wrapper{
    max-width: 1200px;
    width: 100%;
    padding: 50px 15px;
    margin: 0 auto;
}

/* Cart.js  */
table.cartTable{
    background-color: #fff;
    width: 100%;
    padding: 0;
}

table.cartTable thead{
    text-align: left;
    background-color: var(--primaryColor);
    color: #fff;
}
table.cartTable tr{
    margin-bottom: 30px;    
}
table.cartTable td, table.cartTable th{
    padding: 15px 10px;
    border-bottom: solid #eee 1px;
    vertical-align: top;     
    min-width: 200px;  
}
table.cartTable tr:last-child td{
    border-bottom: none;
}
table.cartTable thead th{
    border: solid .5px rgba(238, 238, 238, 0.269);
}
table.cartTable .image {
    text-align: center;
}
table.cartTable .image img{
    width: 85px;
    height: 85px;
    object-fit: contain;
}
table.cartTable .title h4 span{
    display: block;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--lightGreyText);
    font-size: 10px;
    margin: 5px 0 0;
}
table.cartTable .title p{
    font-size: 17px;
    margin-top: 8px;
}
table.cartTable .quantity{
    display: flex;
    gap: 15px;    
    align-items: center;  
    justify-content: center;
}
table.cartTable .quantity button{
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
table.cartTable .price{
    text-align: center;
    font-weight: 600;   
    font-size: 18px; 
}
table.cartTable .price p.total__price span{
    display: block;
    color: var(--lightGreyText);
    font-weight: 400;
    font-size: 15px;
}

/* Cart.js End  */


input, button{
    width: 100%;
    margin: 5px 0 15px;
    padding: 15px 15px;
    border: none;
    border-radius: 3px;
    background-color: #eee;    
}

.checkout__box{
    background-color: #fff;
    padding: 40px;
    margin-top: 30px;
}
.checkout__box span{
    display: flex;
    justify-content: space-between;
}
.checkout__box a{
    background-color: var(--primaryDarkColor);
    color: #fff;
    margin-top: 15px;
    text-decoration: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.loginWrapper{
    max-width: 500px;
    margin: 0 auto;
}

.loginHeader ul{
    list-style: none;
    display: flex;
    align-items: center;
}
.loginHeader ul li{
    text-align: center;
    flex: 1;
}
.loginHeader ul li a{
    width: 100%;
    line-height: 1;
    padding: 15px ;
    color: var(--lightGreyText);
    font-weight: 500;
}
.loginHeader ul li a.active{
    background-color: #fff;
    color: #000;
    border-radius: 10px 10px 0 0;
}

.loginWrapper form{
    padding: 20px;
    background-color: #fff;
    width: 100%;
    color: #000;
    border-radius: 0;
}

.loginWrapper form h4{
    margin: 0 0 15px;
    font-size: 20px;
    color: #fff;
}


.loginWrapper form button{
    margin: 10px 0 0;
    background-color: var(--primaryColor);
    color: #fff;
    cursor: pointer;  
    transition: 0.3s ease;  
    font-weight: 600;
}
.loginWrapper form button:hover{
    background-color: var(--primaryDarkColor);
}

.loginWrapper button.newUser{  
    background-color: transparent;
    padding: 0;
    color: #fff;
    width: auto;    
    margin-bottom: 0;
}
.profileWrapper{
    display: block;    
}
.left__infoBox{
    margin-bottom: 50px; 
}
.profileWrapper .left__infoBox button.sign_out_btn{
    width: auto;
    background-color: rgb(233, 56, 56);
    color: #fff;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 20px 0 0;
}

.profileWrapper .left__infoBox button.sign_out_btn:hover{
    background-color: rgb(235, 102, 102);
}
.profileWrapper .left__infoBox h1{
    margin: 0 0 20px;
}
.profileWrapper .left__infoBox h2{
    margin: 0 0 20px;
}
.profileWrapper .left__infoBox p{
    color: var(--lightGreyText);
}
.profileWrapper .right__passReset{
    flex: 1;
}
.profileWrapper .right__passReset h2 {
    margin: 0 0 25px;
}
.profileWrapper .right__passReset input{
    border: solid 1px var(--lightGreyText);
    background-color: #fff;
    color: #000;
}
.profileWrapper .right__passReset input.invalid{
    border: solid 1px rgb(235, 102, 102);
}
.profileWrapper .right__passReset button{
    background-color: var(--primaryColor);
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    border-radius: 3px;
}
.profileWrapper .right__passReset button:hover{
    background-color: var(--primaryDarkColor);
}
.error_message{
    text-align: center;
    margin: 8px 0 0;
}
.error_message, .errMsg{
    color: red;
}
.cartlist__wrap{
    overflow-x: auto;
}
.cartlist__wrap h2.cart__title{
    background-color: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    font-weight: 400;
}
.footer__wrap{
    background-color: var(--primaryColor);
    color: #fff;
}
.footer__wrap p {  
    font-size: 15px;
    font-weight: 400; 
    text-align: center;
}
.footer__wrap p a{
    color:#fff;
    font-weight: 500;
}
ul.social_links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    list-style: none;
    width: 100%;
    flex: 1;
    margin-top: 20px;
}
ul.social_links li a{
    color: #fff;
    font-size: 1.3rem;
}
.footer__inner{
    display: inherit;
}
.footer__inner .left{
    flex: 1;
}

@media screen and (min-width:991px) {
    .cartWrap{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
    .cartlist__wrap{
        grid-column: 1/4;
        overflow: hidden;
    }
    .checkout__box{
        grid-column: 3/4;  
        margin-top: 0;  
    }
    .footer__wrap p {
        text-align: left;
    }
    ul.social_links{
        gap: 25px;
        justify-content: flex-end;
        margin-top: 0;
    }
    ul.social_links li a{
        font-size: 1.6rem;
    }
    .profileWrapper{
        display: flex;
        gap: 30px;
    }
    .left__infoBox{
        flex: 2;    
    }
    .profileWrapper .left__infoBox button.sign_out_btn{
        margin: 50px 0 0;
    }
    table.cartTable td, table.cartTable th{
        min-width: auto;
    }
    table.cartTable{
        padding: 30px 30px 0;    
    }
    .footer__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}